@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('../fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-style: normal;
    /* Chỉ cần set font-style */
}

@font-face {
    font-family: 'SF Pro Display Medium';
    src: url('../fonts/SF-Pro-Display-Medium.otf') format('opentype');
    font-style: normal;
    /* Chỉ cần set font-style */
}

@font-face {
    font-family: 'SF Pro Display Semibold';
    src: url('../fonts/SF-Pro-Display-Semibold.otf') format('opentype');
    font-style: normal;
    /* Chỉ cần set font-style */
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('../fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-style: normal;
    /* Chỉ cần set font-style */
}

@font-face {
    font-family: 'SF Pro Display Black';
    src: url('../fonts/SF-Pro-Display-Black.otf') format('opentype');
    font-style: normal;
    /* Chỉ cần set font-style */
}



/* Sử dụng font trong toàn bộ trang */
body {
    font-family: 'SF Pro Display Regular', sans-serif;
    /* Mặc định là Regular */
}



body {
    overflow-x: hidden;
    /* Ngăn chặn thanh cuộn ngang */
}

.container {
    /* overflow-x: hidden; */
    /* Ngăn chặn thanh cuộn ngang */
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1160px;
    }
}








.icon-box-1 {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.icon-box-1 .img-icon {
    width: 18px;
    position: relative;
    top: 7px;
}

.icon-box-1 .text-icon {}

.icon-box-1 .text-icon span {
    color: #FF387E;
}