body {
    font-family: Arial, sans-serif;
}

header {
    background-image: url('../images/header-bg.jpg');
    /* Thay đổi đường dẫn ảnh nền */
    background-size: cover;
    color: white;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.navbar {
    margin-bottom: 20px;
}

section {
    background-color: #f8f9fa;
    /* Màu nền sáng cho section */
    padding: 20px;
    border-radius: 5px;
}

section img {
    border-radius: 5px;
    /* Bo góc cho ảnh */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    /* Nền mờ cho caption */
    padding: 10px;
}


.faq-item {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.faq-header {
    padding: 10px;
    cursor: pointer;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
}

.faq-title {
    margin-left: 10px;
}

.faq-body {
    padding: 10px;
    background-color: #fff;
}